div {
    color: white;
    font-size: 100px;
}

img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}