div {
    // color: white;
    font-size: 100px;
    text-shadow: 3px 3px 10px rgba(0,0,0,.45);
    // filter: blur(7px);

}

.headshot {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.headshot:hover {
    width: 100px;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: font-size 2s;
}

.home-container:hover {
    font-size: 400px;
    transition: font-size 2s;

}