@import url('https://fonts.googleapis.com/css?family=Viga');

.App {
  text-align: center;
  font-family: 'Viga', sans-serif;
  // background-color:black;
  min-height: 100vh;
  // background-image: url('./images/background.jpg');
  background-size: cover;
  background: linear-gradient(60deg, #5073b7, #1098ab, #07b39b, #68c17f);

}

.nav-bar {
  // background-color:black;
  width: 100%;
  height: 120px;
  font-size: 36px; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(193, 181, 181);
}

.active {
  text-decoration: underline;
}
