
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // padding: 24px 8px 8px 4px;
  // background-color: black;
}

article {
  font-size: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  min-width: 300px;
  margin: 40px;
}

.project-1 {
  background-image: url('../images/adoptr-image.png');
  height: 400px;
}

.project-2 {
  background-image: url('../images/palette-image.png');
}

.project-3 {
  background-image: url('../images/movietracker-image.png');
}

.project-4 {
  background-image: url('../images/swapibox-image.png');
}
